{% extends 'base.html' %}


{% block title %} {% endblock title %}

{% block content %}
    <!-- Affichage des messages -->
    {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endif %}


        <!-- Titre de la page -->
<div class="card rounded mt-1 mr-2" style="background-color: rgba(58,68,122,0.23)">
    <div class="card-header">
        <div class="col-sm">
            <h4><b>GESTION DES DIRECTIONS</b></h4>
        </div>
    </div>
</div>

  <div class="card card">
        <a href="{% url 'service:direction_list'%}" >
                 <span class="material-symbols-outlined">arrow_back</span>
            </a>
      <div class="card-header">
            <div class="form-group label-floating has-success row">
                <h4><b>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} une Direction</b></h4>
            </div>
        </div>

      <div class="card-body center">
          <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
              <div class="form-group col-md-10 center">
                  {{ form.ministere }}
              </div>
              <div class="form-group col-md-10 center">
                  {{ form.direction }}
              </div>
              <div class="form-group col-md-10 center">
                  {{ form.sigle }}
              </div>
              <div class="form-group col-md-10 center">
                  {{ form.bp_dir }}
              </div>
              <div class="form-group col-md-10 center">
                  {{ form.adresse_dir }}
              </div>
              {{ form.logo_dir }}
              <div class="form-group col-6">
                 <img id="logo-preview" src="#" alt="Aperçu du logo" class="img-fluid">
              </div>
              <div class="float-left">

              </div>

              <div class="card-footer ">
                <button type="submit" class="btn btn-primary btn-sm ml-auto mr-1 float-left">Enregistrer</button>
              </div>
          </form>
      </div>

  </div>

{% endblock content %}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
      // Lorsque le champ de téléchargement de logo change
      $('#id_logo_dir').change(function() {
        // Récupérer le fichier sélectionné
        var file = $(this)[0].files[0];
        // Créer un objet URL pour le fichier
        var objectUrl = URL.createObjectURL(file);
        // Mettre à jour l'attribut src de l'image avec l'URL de l'objet
        $('#logo-preview').attr('src', objectUrl);
      });
    });
    </script>
{% endblock javascripts %}
