{% extends 'base.html' %}

{% block content %}
 <!-- App favicon -->
        <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

        <!-- Plugins css -->
        <link href="/static/assets/libs/quill/quill.core.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/libs/quill/quill.bubble.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/libs/quill/quill.snow.css" rel="stylesheet" type="text/css" />

		<!-- App css -->
		<link href="/static/assets/css/style.min.css" rel="stylesheet" type="text/css">
		<link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css">
		<script src="/static/assets/js/config.js"></script>

<!-- App favicon -->


<div class="card">
    <div class="card-header">
        <div class="">
            <h4>Nouvel ordre de mission</h4>
        </div>
    </div>
</div>

<form id="create-mission-form" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="{{ mission_form.ordonnateur.id_for_label }}">Ordonnateur</label>
        {{ mission_form.ordonnateur }}
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="{{ mission_form.reference.id_for_label }}">Référence</label>
        {{ mission_form.reference }}
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="{{ mission_form.date_mission.id_for_label }}">Date de début</label>
        {{ mission_form.date_mission }}
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="{{ mission_form.date_fin_mission.id_for_label }}">Date de fin</label>
        {{ mission_form.date_fin_mission }}
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="{{ mission_form.objet_mission.id_for_label }}">Objet de la mission</label>
        <div id="editor-container">{{ mission_form.objet_mission }}</div>
        <input type="hidden" name="objet_mission" id="hidden-objet-mission">
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="{{ mission_form.transport.id_for_label }}">Transport</label>
        {{ mission_form.transport }}
    </div>
    
    <div class="form-check mb-3">
        <label class="form-check-label" for="{{ mission_form.hebergement.id_for_label }}">Hébergement</label>
        {{ mission_form.hebergement }}
    </div>
    
    <div class="form-check mb-3">
        <label class="form-check-label" for="{{ mission_form.repas_fourni.id_for_label }}">Repas fourni</label>
        {{ mission_form.repas_fourni }}
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3 mb-lg-0">
                <label class="form-label">Sélectionner les missionnaires :</label>
                {% for missionnaire in missionnaires %}
                <div class="missionnaire-selection">
                    <input type="checkbox" name="missionnaire_ids" value="{{ missionnaire.id }}">
                    <label>{{ missionnaire.nom }} {{ missionnaire.prenom }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Créer Mission</button>
</form>

<script src="/static/assets/js/pages/form-quilljs.js"></script>
<!-- Quill JS Plugin -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var quill = new Quill('#editor-container', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],
                    [{ 'indent': '-1'}, { 'indent': '+1' }],
                    [{ 'direction': 'rtl' }],
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'font': [] }],
                    [{ 'align': [] }],
                    ['clean']
                ]
            }
        });

        var form = document.getElementById('create-mission-form');
        form.onsubmit = function() {
            var hiddenInput = document.getElementById('hidden-objet-mission');
            hiddenInput.value = quill.root.innerHTML;
        };
    });
</script>
{% endblock %}
